/* Estilos Gerais */

body {
  font-family: Roboto, Helvetica, sans-serif;
  background: #000;
}

p {
	font-family: Roboto, "Times New Roman", serif;
	font-size: 18px;
	line-height: 20px;
	color: #fff;
}

img {
	display: block;
	max-width: 100%;
}

.btn {
	border: 3px solid #fec63e;
	padding: 10px 30px;
	color: #fec63e;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .1em;
	transition: all .5s ease;
}

.btn:hover {
	color: #fff;
	border-color: #fff;
}

.btn.btn-preto:hover {
	color: #000;
	border-color: #000;
}


/* Header */

#origamid-menu {
	visibility: hidden;
	position: absolute;
	background: black;
	width: auto;
	max-width: 280px;
	padding: 20px;
	right: 0;
	top: 50px;
	text-align: left;
	opacity: 0;
	transform: translate(-20px, 0px);
	box-shadow: 0 2px 1px 0 rgba(0,0,0,.4);
	z-index: 999;
}

#origamid-menu.active {
  visibility: visible;
	opacity: 1;
	transform: translate(0px, 0px);
	transition: .3s ease;
}

#origamid-menu li {
	display: block;
	padding: 0px;
	margin: 0px;
	border-top: 2px solid;
}

#origamid-menu li:last-of-type {
	border-bottom: 2px solid;
}

#origamid-menu li a {
	display: block;
	float: none;
	padding: 10px;
	margin: 0px;
	border: none;
	min-width: 140px;
}

#origamid-menu li a:hover {
	background: white;
	color: black;
}

/* Hamburger */
#origamid-icon {
	display: block;
	float: right;
	width: 40px;
	height: 30px;
	padding: 5px 0;
	box-sizing: border-box;
	cursor: pointer;
}

#origamid-icon::before, #origamid-icon::after {
	content: '';
	display: block;
	height: 4px;
	transition: .3s;
}

#origamid-icon::before {
	background: white;
	margin-bottom: 8px;
}

#origamid-icon::after {
	box-shadow: 0 4px 0 0 white, 0 -4px 0 0 white;
}

#origamid-icon.active::before, #origamid-icon.active::after {
	width: 80%;
	background: white;
	box-shadow: none;
}

#origamid-icon.active::before {
	transform: rotate(45deg) translate(7px, 4px);
}

#origamid-icon.active::after {
	transform: rotate(-225deg) translate(-4px, 1px);
}
/* Final Hamburger */


nav {
	width: 100%;
	text-align: center;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	display: inline-block;
}

a {
	text-decoration: none;
	color: white;
	font-weight: 100;
	letter-spacing: .1em;
	font-size: 18px;
	padding: 30px 45px;
	transition: all .3s ease;
}

/*Lembrar de no resposivo retirar bg*/

a:hover {
	color: #fff;
	padding: 5px 20px;
	background: #bf1e2e;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	a:hover {
	color: #fff;
	padding: 5px 20px;
	background: none;
	}
}

@media only screen and (max-width: 767px) {
	a:hover {
	color: #fff;
	padding: 5px 20px;
	background: none;
	}
}



header {
	background: none;
	padding: 30px 20px;
}

header::after, header::before {
	content: '';
	display: table;
	clear: both;
}


/* .header {
	position: relative;
	top: 0;
	width: 100%;
	background: none;
	padding: 15px 0;
	z-index: 10;
}

.header_menu {
	text-align: center;
}

.header_menu ul li {
	display: inline-block;
	margin-left: 25px;
	margin-top: 20px;
}

.header_menu ul li a {
	color: #fff;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 18px;
	line-height: 80px;
	padding: 30px 35px;
	transition: all .3s ease;
}

.header_menu ul li a:hover {
	color: #fff;
	padding: 5px 20px;
	background: #bf1e2e
}

.header_menu ul li a.menu_ativo {
	color: #bf1e2e;
}
 */
/* Introdução */

.introducao {
	width: 100%;
	height: 820px;
	background: url("../img/banner.png") no-repeat center;
	background-size: cover;
	text-align: center;
	z-index: 9;
	position: relative;
}

.parallax-img-1 {
	width: 458px;
	height: 457px;
	background: url("../img/maquina.png") no-repeat right;
	margin-top: 360px;
    left: 700px;
    position: relative;
}

.parallax-tintas {
	width: 271px;
	height: 400px;
	background: url("../img/tintas.png") no-repeat;
	/*background-attachment: fixed;
	padding-top: 500px;
	padding-bottom: 100px;*/
	position: absolute;
}

.parallax-desenhos {
	width: 233px;
	height: 206px;
	background: url("../img/batoque.png") no-repeat;
	position: absolute;
	left: 850px;
	margin-top: 55px;
}

.parallax-perfil {
	width: 420px;
	height: 357px;
	background: url("../img/fonte.png") no-repeat;
	position: absolute;
	margin-top: 220px;
    margin-left: 100px;
}

/*Galeria*/

.galeria{
	width: 100%;
	height: 1456px;
	background: url("../img/background_galeria.png") no-repeat center;
	background-size: cover;
	text-align: center;
	z-index: 8;
	position: relative;
	margin-top: -7%;
    padding: 160px 0;
}
.ancora img {
    margin: 0 auto;
  }

.galeria h2 {
	text-align: center;
	font-size: 60px;
	font-weight: 100;
	color: #fff;
	text-transform: uppercase;
	padding: 20px 0 30px 0;
}

.galeria a {
	border: 1px solid #bf1e2e;
	color: #fff;
	font-size: 18px;
	padding: 10px 25px;
	font-weight: 100;
	text-transform: uppercase;
	transition: all .3s ease;
}

.galeria a:hover {
	background: #bf1e2e;
	
}

.vermais {
	margin-top: 40px;
	text-align: center;
}

.portfolio {
	max-width: 1137px;
	margin: 0 auto;
    position: relative;
}
.container:after, .container:before {
	content: " ";
	display: table;
}

.container:after {
	clear: both;
}

.zoom {
	overflow: hidden;
	display: inline-block;
	margin: 5px;
}

.zoom img {
	max-width: 100%;
	cursor: pointer;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.desenhos {
	width: 100%;
	height: 826px;
	background: url(../img/desenhos.png) no-repeat center;
	background-size: cover;
	text-align: center;
	color: #fff;
	position: relative;
	margin-top: -9%;
    padding: 160px 0;
	z-index: 7;
}
.desenhos img {
  margin: 0 auto;
}

.desenhos h2 {
	font-size: 60px;
	color: #fff;
	text-align: center;
	padding-top: 30px;
	font-weight: 100;
	text-transform: uppercase;
}

.desenhos p {
	max-width: 549px;
	line-height: 31px;
	font-weight: regular;
	margin: 0 auto;
	padding-top: 30px;
	text-align: justify;
}

.desenhos a {
	border: 1px solid #fff;
	color: #fff;
	font-size: 18px;
	padding: 10px 25px;
	font-weight: 100;
	text-transform: uppercase;
	transition: all .3s ease;
}

.desenhos a:hover {
	background: #bf1e2e;
	color: #fff;
	border: 1px solid #bf1e2e;
	
}

.perfil {
	width: 100%;
	height: 826px;
	background: url("../img/perfil.png") no-repeat center;
	background-size: cover;
	margin-top: -9%;
	position: relative;
	z-index: 6;
}

.texto {
	max-width: 388px;
	position: relative;
	left: 65%;
	top: 30%;
}

.perfil h2 {
	font-size: 60px;
	color: #fff;
	font-weight: 100;
	text-align: center;
	text-transform: uppercase;
}

.perfil p {
	text-align: justify;
	padding-top: 30px;
	line-height: 31px;
}

.perfil img {
  margin: 30px auto;
}

.loja {
	width: 100%;
	height: 826px;
	background: url(../img/loja.png) no-repeat center;
	background-size: cover;
	margin-top: -8%;
	position: relative;
	z-index: 5;
}

.texto-loja {
	max-width: 550px;
	margin-left: 75px;
    position: relative;
    top: 32%;
}
.texto-loja img {
  margin: 30px auto;
}

.loja h2 {
	font-size: 60px;
	font-weight: 100;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}

.loja p {
	text-align: justify;
	line-height: 31px;
}

.loja a {
	border: 1px solid #fff;
	color: #fff;
	font-size: 18px;
	padding: 10px 25px;
	font-weight: 100;
	text-transform: uppercase;
	transition: all .3s ease;
}

.loja a:hover {
	background: #bf1e2e;
	color: #fff;
	border: 1px solid #bf1e2e;
	
}

.contato {
	width: 100%;
	height: 581px;
	background: url(../img/contato-2.png) no-repeat center;
	background-size: cover;
	position: relative;
	z-index: 4;
	margin-top: -8%;
}

.texto-contato {
	max-width: 561px;
	margin: 0 auto;
	padding-top: 350px;
	text-align: center;
}

.texto-contato img {
	display: inline-block;
	width: 58px;
	height: 59px;
	position: relative;
	top: 5px;
}

.contato h2 {
	font-size: 60px;
	color: #fff;
	font-weight: 100;
	display: inline-block;
	margin-left: 30px;
}

.redes_sociais {
	max-width: 246px;
	margin: 30px auto;
	text-align: center;
}
.contato a {
	text-decoration: none;
	color: none;
	letter-spacing: 0;
	padding: 0;
	transition: all .3s ease;
}

.contato a:hover {
	color: none;
	padding: 0;
	background: none;
}

.redes_sociais img {
	display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
}

.direitos {
	max-width: 561px;
	margin: 0 auto;
}

.direitos p {
	font-size: 12px;
	font-weight: 100px;
	text-align: center;
}

/*Animaçao*/

.anime {
	opacity: 0;
	transform: translate3d(-100px,0,0);
	transition: .3s;
}

.anime-start {
	opacity: 1;
	transform: translate3d(0,0,0);
}